@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
* {
    color: white;
    background-color: #121212;
    font-family: 'Amiri', serif;
}
#button {
    background-color: #e7e7e7; color: black; /* Gray */
    border: none;
    color: #121212;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    padding: 12px;
    margin-bottom: 10px;
}
#surah {
    font-size: 30px;
    padding-right: 10%;
    padding-left: 10%;
}
#basmalah {
    text-align: center;
}